@charset "ISO-8859-1";
body{
	margin: 5%;
	padding: 5%;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(99,9,121,0.779131635564382) 12%, rgba(0,212,255,1) 86%);
}
h2{
	color: white;
	text-align: center;
	font-family: verdana;
	font-size: 300%;
	text-shadow: 0px 10px 10px black;
}
div.input-group{
	margin: 2%;
}
input.btn{
	margin: 0% 5% 0% 5%;
}